<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>Crates</title>
	<script type="text/javascript" src="/js/character-list.js"></script>
	<link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
		
	<div class="page-contents" layout:fragment="content">
		
		<div class="page-top-text">Sample List</div>
		
		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">success message</p>
		</div>
		
		<p th:if="${characters.getNrOfElements() == 0}">
			<div class="alert alert-warning" role="alert">No Samples Found.</div>
		</p>
		
		<div >
			

		</div>
		
	</div>
		
</body>
</html>