<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<link href="/css/main.css" rel="stylesheet"/>
</head>
<body>

	<div layout:fragment="content">
	
		<h2>View Sample</h2>

		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Title: </label>
				<div class="col-md-10">
					<p class="form-control-static" th:text="${sample.title}">title</p>
				</div>
			</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Artist: </label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${sample.artist}">artist</p>
		    	</div>
		  	</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Link: </label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${sample.link}">link</p>
		    	</div>
		  	</div>
		</form>
		
		<a th:href="@{/samples}">Back To Sample List</a>
		<br/><br/><br/>
		
	</div>

		
</body>
</html>